h1{

    color: darkcyan;
    font-size: 200%;
    font-family: cursive;
    padding: 60px;
  }
  
#mdpoublie{

  color: blue;
  text-decoration: underline;
  text-align: center;
}

#btn{

  padding: 50px;
}