.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

h1{

  color: darkcyan;
  font-size: 200%;
  font-family: cursive;
  padding: 100px;
}

#navupload{
  font-family: cursive;
  text-align: center;
  
}